<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.ab.dt.unit.deploymentTarget</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deploymentTarget</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Deployment Target:</string>
			<key>Description</key>
			<string>The minimum iOS version to target.</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Latest iOS</string>
			<key>Units</key>
			<dict>
				<key>11.0</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>11.0</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>11.1</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>11.1</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>11.2</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>11.2</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>11.3</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>11.3</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>11.4</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>11.4</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>12.0</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>12.0</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>12.1</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>12.1</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>12.2</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>12.2</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>12.3</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>12.3</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>12.4</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>12.4</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>13.0</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>13.0</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>13.1</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>13.1</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>13.2</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>13.2</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Latest iOS</key>
				<array>
					<dict>
						<key>Project</key>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>IPHONEOS_DEPLOYMENT_TARGET</key>
								<string>latest_iphoneos</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
